footer.footer
  .footer__body.content-wrapper
    .footer__content
      a.footer__logo.logo(href="index.html") Trevland  
      .footer__contacts 
        p.footer__text Contact us
        a.footer__link(href="mailto:@shovasatkhira88.com") @shovasatkhira88.com
        .footer__socials.socials 
          .socials__link
    .footer__menu.footer-menu 
      .footer-menu__column
        ul.footer-menu__list 
          li.footer-menu__item
            a.footer-menu__link(href="404.html") Services  
          li.footer-menu__item
            a.footer-menu__link(href="404.html") About
          li.footer-menu__item
            a.footer-menu__link(href="404.html") Our story
          li.footer-menu__item
            a.footer-menu__link(href="404.html") Benefits
          li.footer-menu__item
            a.footer-menu__link(href="404.html") Branding
      .footer-menu__column
        ul.footer-menu__list 
          li.footer-menu__item
            a.footer-menu__link(href="404.html") Legal  
          li.footer-menu__item
            a.footer-menu__link(href="404.html") Terms & Conditions
          li.footer-menu__item
            a.footer-menu__link(href="404.html") Privecy Policy
          li.footer-menu__item
            a.footer-menu__link(href="404.html") Terms of use
    .footer__subscribe
      form.footer__subscribe-form.subscribe-form
        .subscribe-form__title SUBSCRIBE NOW
        .subscribe-form__container
          input.subscribe-form__input(type="text")
          button.subscribe-form__btn.btn.func-btn Send


//footer.footer
  .footer__main
    .footer__content  
      a.footer__logo(href='index.html') MNTN
      p.footer__text Get out there & discover your next slope, mountain & destination!
    p.footer__copyright Copyright 2019 MNTN, Inc. Terms & Privacy
  .footer__menu.footer-menu
    .footer-menu__column 
      p.footer-menu__title More on The Blog
      ul.footer-menu__list 
        li 
          a.footer-menu__link(href='404.html') About MNTN
        li
          a.footer-menu__link(href='404.html') Contributors & Writers
        li
          a.footer-menu__link(href='404.html') Write For Us
        li
          a.footer-menu__link(href='404.html') Contact Us
        li
          a.footer-menu__link(href='404.html') Privacy Policy
    .footer-menu__column 
      p.footer-menu__title More on MNTN
      ul.footer-menu__list 
        li 
          a.footer-menu__link(href='404.html') The Team
        li
          a.footer-menu__link(href='404.html') Jobs
        li
          a.footer-menu__link(href='404.html') Press


//footer.footer.content-wrapper
  .footer__main
    a.footer__logo(href='index.html')
      img(src='./assets/img/logo.svg' alt='RubyHome logo')
    p.footer__text Contrary to popular  is not simply random text. It has 
    .footer__socials.footer-socials
      a.footer-socials__link.icon-font.icon-font_facebook(href='https://www.facebook.com/' target='_blank')
      a.footer-socials__link.icon-font.icon-font_instagram(href='https://www.instagram.com/' target='_blank')
      a.footer-socials__link.icon-font.icon-font_twitter(href='https://twitter.com/' target='_blank')
      a.footer-socials__link.icon-font.icon-font_youtube(href='https://www.youtube.com/' target='_blank')
      a.footer-socials__link.icon-font.icon-font_linkedin(href='https://www.linkedin.com/' target='_blank')  
  .footer__menu.footer-menu
    .footer-menu__column
      p.footer-menu__title About
      ul.footer-menu__list
        li
          a.footer-menu__link(href='#') Company
        li
          a.footer-menu__link(href='#') Team
        li
          a.footer-menu__link(href='#') Career
        li
          a.footer-menu__link(href='#') Blogs
    .footer-menu__column 
      p.footer-menu__title Products
      ul.footer-menu__list
        li
          a.footer-menu__link(href='#') E-Books
        li
          a.footer-menu__link(href='#') Preasantation
        li
          a.footer-menu__link(href='#') Management
        li
          a.footer-menu__link(href='#') Dashboard
    .footer-menu__column
      p.footer-menu__title Address
      ul.footer-menu__list
        li
          p.footer-menu__address Country Delevery
        li
          p.footer-menu__address Counter Beach Post
        li
          a.footer-menu__address_internet(href='#' target='_blank') www.itobd.com
        li
          a.footer-menu__address_phone(href='tel:+880176565655') +880176565655