footer.footer
  .footer__body.content-wrapper
    .footer__content
      a.footer__logo.logo(href="index.html") Trevland  
      .footer__contacts 
        p.footer__text Contact us
        a.footer__link(href="mailto:@shovasatkhira88.com") @shovasatkhira88.com
        .footer__socials.socials 
          a.socials__link.socials__link_facebook(href="https://www.facebook.com/" target="_blank")
          a.socials__link.socials__link_instagram(href='https://www.instagram.com/' target='_blank')
          a.socials__link.socials__link_twitter(href='https://twitter.com/' target='_blank')
          a.socials__link.socials__link_google(href='https://google.com/' target='_blank')
    .footer__menu.footer-menu 
      .footer-menu__column
        ul.footer-menu__list 
          li.footer-menu__item
            a.footer-menu__link(href="404.html") Services  
          li.footer-menu__item
            a.footer-menu__link(href="404.html") About
          li.footer-menu__item
            a.footer-menu__link(href="404.html") Our story
          li.footer-menu__item
            a.footer-menu__link(href="404.html") Benefits
          li.footer-menu__item
            a.footer-menu__link(href="404.html") Branding
      .footer-menu__column
        ul.footer-menu__list 
          li.footer-menu__item
            a.footer-menu__link(href="404.html") Legal  
          li.footer-menu__item
            a.footer-menu__link(href="404.html") Terms & Conditions
          li.footer-menu__item
            a.footer-menu__link(href="404.html") Privecy Policy
          li.footer-menu__item
            a.footer-menu__link(href="404.html") Terms of use
    .footer__subscribe
      form.footer__subscribe-form.subscribe-form
        .subscribe-form__title SUBSCRIBE NOW
        .subscribe-form__container
          input.subscribe-form__input(type="text" placeholder="Email")
          button.subscribe-form__btn.btn.func-btn Send