extends ../layouts/default/default.pug

block content
  main.content-wrapper.error
    h1.error__title Error 404
    p.error__text Ooops. Looks like this page doesn't exist. Please, check the URL or go back a page.