@use "../../src/layouts/default/default" as variables;



.error {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  &__title {
    font-weight: 600;
    font-size: 4em;
    line-height: 150%;
  }
  &__text {
    color: variables.$textColorGeneral;
  }
} 

.site-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0B1D26;
}