@use "../src/layouts/default/default" as variables;

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 560px;
  background-image: url("../src/assets/img/main-background-min.jpg");
  background-size: cover;
  background-position: right;
  z-index: 0;
  overflow: hidden;
  @media (max-width: variables.$bp4) {
    background-position: 96%;
  }
  &__body {
    height: 100%;
    box-sizing: border-box;
    padding-top: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    @media (max-width: variables.$bp4) {
      justify-content: flex-start;
    }
  }
  &__title {
    font-family: "Gelasio";
    font-weight: 700;
    font-size: 3.611em;
    color: #ffffff;
    max-width: 804px;
    @media (max-width: variables.$bp2) {
      font-size: 3.111em;
    }
    @media (max-width: variables.$bp3) {
      font-size: 2.611em;
    }
    @media (max-width: variables.$bp4) {
      font-size: 1.5em;
    }
  }
  &__text {
    margin-top: 30px;
    font-weight: 400;
    max-width: 458px;
    color: #ffffff;
    opacity: 0.6;
    line-height: 160%;
    @media (max-width: variables.$bp3) {
      font-size: 0.8em;
      line-height: 1.4em;
    }
    @media (max-width: variables.$bp4) {
      opacity: 1;
    }
  }
  &__link {
    &_btn {
      margin-top: 40px;
      width: 187px;
      height: 59px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.popular {
  margin-top: 140px;
  @media (max-width: variables.$bp3) {
    margin-top: 50px;
  }
  &__text {
    max-width: 735px;
  }
  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
    @media (max-width: variables.$bp3) {
      gap: 15px;
    }
  }
}

.special {
  margin-top: 140px;
  @media (max-width: variables.$bp3) {
    margin-top: 30px;
  }
  &__text {
    max-width: 656px;
  }
  &__slider {
    margin-top: 70px;
    @media (max-width: variables.$bp3) {
      margin-top: 30px;
    }
  }
}

.news {
  margin-top: 140px;
  margin-bottom: 142px;
  @media (max-width: variables.$bp3) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  &__text {
    max-width: 581px;
  }
  &__grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3 1fr);
    column-gap: 32px;
    gap: 30px 32px;
    grid-template-areas:
      "big smallTop"
      "big smallMiddle"
      "big smallBottom";
    @media (max-width: variables.$bp1) {
      grid-template-columns: 1.5fr 2fr;
    }
    @media (max-width: variables.$bp2) {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }
}

//Section title ===============================

.section-title {
  font-family: "Gelasio";
  font-weight: 500;
  font-size: 2.389em;
  color: #000000;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  @media (max-width: variables.$bp3) {
    font-size: 2em;
  }
  @media (max-width: variables.$bp4) {
    font-size: 1.7em;
  }
}

//Section text ==================================

.section-text {
  margin: 20px auto 50px auto;
  color: variables.$textColorGeneral;
  text-align: center;
  font-weight: 400;
  font-size: 1em;
  line-height: 28.8px;
  @media (max-width: variables.$bp3) {
    font-size: 0.8em;
    line-height: 1.2em;
  }
}

//Popular box ====================================

.popular-box {
  flex: 0 0 360px;
  height: 500px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.08);
  @media (max-width: variables.$bp2) {
    flex: 0 0 300px;
  }
  &__photo {
    width: 100%;
    height: 100%;
    min-height: 331px;
    @media (max-width: variables.$bp2) {
      min-height: 0;
    }
  }
  &__title {
    font-family: "Gelasio";
    margin-top: 35px;
    font-weight: 500;
    font-size: 1.333em;
    line-height: 36px;
    color: #000000;
    text-align: center;
  }
  &__desc {
    margin: 10px 10px 33px 10px;
    text-align: center;
    font-weight: 400;
    line-height: 28.8px;
    color: variables.$textColorGeneral;
  }
}

//Slider

.slider {
  display: flex;
  flex-direction: row;
  gap: 73px;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  &__navigation {
    margin-top: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    @media (max-width: variables.$bp3) {
      margin-top: 25px;
      gap: 25px;
    }
  }
  &__button {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @media (max-width: variables.$bp3) {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid #000000;
    }
    &_left {
      &::after {
        content: url(./assets/img/arrow_left.svg);
      }
    }
    &_right {
      &::after {
        content: url(./assets/img/arrow_right.svg);
      }
    }
  }
  &__middle-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
  }
  &__middle-btn {
    cursor: pointer;
    @media (max-width: variables.$bp3) {
      display: none;
    }
    width: 75px;
    height: 5px;
    border-radius: 10px;
    background-color: rgba(201, 69, 59, 0.1);
    &_active {
      background-color: rgba(201, 69, 59, 1);
    }
  }
}

// Special box

.special-box {
  box-sizing: border-box;
  width: 262px;
  min-width: 262px;
  height: 334px;
  overflow: hidden;
  &__photo {
    width: 100%;
    height: 173px;
  }
  &__title {
    margin-top: 10px;
    font-family: "Gelasio";
    font-weight: 500;
    font-size: 1.333em;
    line-height: 2em;
    color: #000000;
  }
  &__place-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: flex-end;
  }
  &__place {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-weight: 400;
    font-size: 1.111em;
    line-height: 1.667em;
    color: rgba(0, 0, 0, 0.6);
    &::before {
      content: url(./assets/img/place.svg);
    }
  }
  &__raiting {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
    &::before {
      content: url(./assets/img/Star.svg);
    }
  }
  &__days {
    margin-top: 8px;
    font-weight: 400;
    font-size: 0.889em;
    line-height: 1.333em;
    color: rgba(0, 0, 0, 0.6);
  }
  &__price {
    margin-top: 10px;
    font-weight: 500;
    font-size: 1em;
    line-height: 1.5em;
    &::before {
      content: "$";
    }
    &::after {
      content: "/person";
      font-weight: 400;
      color: rgba(0, 0, 0, 0.6);
      font-size: 0.889em;
      line-height: 1.333;
    }
  }
}

.news-block {
  &_big {
    grid-area: big;
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  &_small-top {
    grid-area: smallTop;
    display: flex;
    flex-direction: row;
    gap: 30px;
    @media (max-width: variables.$bp3) {
      flex-direction: column;
      gap: 35px;
    }
  }
  &_small-middle {
    grid-area: smallMiddle;
    display: flex;
    flex-direction: row;
    gap: 30px;
    @media (max-width: variables.$bp3) {
      flex-direction: column;
      gap: 35px;
    }
  }
  &_small-bottom {
    grid-area: smallBottom;
    display: flex;
    flex-direction: row;
    gap: 30px;
    @media (max-width: variables.$bp3) {
      flex-direction: column;
      gap: 35px;
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }
  &__title {
    font-family: "Gelasio";
    font-weight: 500;
    font-size: 1.111em;
    line-height: 30px;
    color: #000000;
  }
  &__text {
    font-weight: 400;
    font-size: 1em;
    color: variables.$textColorGeneral;
    line-height: 30px;
  }
  &__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.111em;
    color: #000000;
  }
}

.news-block_big img {
  width: 100%;
  @media (max-width: variables.$bp1) {
    max-height: 200px;
  }
  @media (max-width: variables.$bp2) {
    width: 263px;
    border-radius: 10px;
    align-self: center;
  }
}

.news-block_small-top img {
  max-height: 200px;
  @media (max-width: variables.$bp2) {
    width: 263px;
    border-radius: 10px;
    align-self: center;
  }
}
.news-block_small-middle img {
  max-height: 200px;
  @media (max-width: variables.$bp2) {
    width: 263px;
    border-radius: 10px;
    align-self: center;
  }
}
.news-block_small-bottom img {
  max-height: 200px;
  @media (max-width: variables.$bp2) {
    width: 263px;
    border-radius: 10px;
    align-self: center;
  }
}
