header.header 
  .header__body.content-wrapper 
    a.header__logo.logo(href='index.html') Trevland 
    .header_menu.header-menu 
      nav.header-menu__body
        a.header-menu__link(href='404.html') Home
        a.header-menu__link(href='404.html') Location 
        a.header-menu__link(href='404.html') Blog
        a.header-menu__link(href='404.html') About
        a.header-menu__link(href='404.html') Contact
    a.header__link.header__link_btn.btn.link-btn(href='404.html') Booking now
    button.burger-menu(type='button')
      span 
      span 
      span